/* main-header 스타일 */
.main-header {
    background-color: #e9d8d8;
    padding: 20px;
    display: flex; /* Flexbox 사용 */
    justify-content: space-between; /* 로고와 메뉴를 좌우로 정렬 */
    align-items: center; /* 로고와 메뉴를 수직으로 중앙 정렬 */
    /* position: relative; */
}

/* 로고 이미지 스타일 */
.logo-image {
    width: 50px; /* 로고 이미지 너비 */
    height: auto; /* 로고 이미지 높이 자동 조정 */
    margin-right: 10px; /* 로고 이미지 오른쪽 여백 */
}
/* 로고 텍스트 스타일 */
.logo-text {
    font-size: 1.2rem; /* 로고 텍스트 글꼴 크기 */
}

/* 로고 텍스트와 이미지에 호버 스타일 추가 */
.logo-link:hover > .logo-image,
.logo-link:hover > .logo-text {
    opacity: 0.5; /* 호버 시 투명도 조정 */
}

/* main-nav 스타일 */
.main-nav {
    text-align: center;
}

/* 메뉴 아이콘 스타일 */
.menu-icon {
    display: none; /* 기본적으로 숨김 */
    cursor: pointer;
    position: relative;
}
.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

/* menu 스타일 */
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Flexbox 사용 */
    position: relative;
}

/* menu-item 스타일 */
.menu-item {
    list-style-type: none;
    color: white;
    margin-left: 20px; /* 메뉴 간 간격 추가 */
    position: relative;
}
.menu-item:hover {
    color: black;
}

.submenu {
    list-style-type: none;
    display: none;
    position: absolute; /* 절대 위치 지정 */
    top: 100%; /* 메뉴 아래에 위치 */
    left: 0;
    background-color: #fff; /* 배경색 지정 */
    border: 1px solid #ccc; /* 테두리 설정 */
    padding: 10px;
}

.submenu > li {
    margin: 5px 0;
}
.submenu > li > a:hover {
    color: red;
}

.submenu.active {
    display: block; /* 활성화된 서브메뉴는 표시 */
}

.recommend-submenu {
    left: 0;
}

.drink-submenu {
    left: 25%;
}

.eat-submenu {
    left: 50%;
}

.order_list_container {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.food-amount {
    display: flex;
    width: 30%;
    justify-content: space-between;
    gap: 20px;
    padding: 5px;
    border: solid;
    margin-bottom: 5px;
}
.button_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 760px 이하 화면 크기에 대한 스타일 */
@media only screen and (max-width: 760px) {
    .menu {
        flex-direction: column; /* 세로로 아이템 배치 */
        align-items: center; /* 아이템을 가운데 정렬 */
        display: none; /* 기본적으로 숨김 */
    }

    .menu-item {
        margin: 10px 0; /* 각각의 아이템 사이 간격 추가 */
        position: relative;
    }

    /* 화면이 작을 때 메뉴 아이콘 보이기 */
    #menu-icon {
        display: block;
    }

    .menu.active {
        display: flex;
        top: 120px;
        right: 20px;
        gap: 10px;

        position: absolute;
        padding-left: 150px;
    }
    .menu.active a {
        color: black;
    }

    .submenu.active {
        position: absolute;
        width: 100px;
        top: 0;
        left: 0;
        right: 100%;



    }

    /* 메뉴 아이템 클릭 시 서브메뉴 보이기 */
    /* .menu-item.clicked .submenu {
        display: block;
    } */
}
